body {
    background-color: #a3bdc9;
    font-family: Arial, sans-serif;
}
input {
    border-radius: 7px;
    border-color: #0e9adb;
    background-color: #d3f2ff;
}

button{
    border-radius: 7px;
    border-color: #0e9adb;
    padding: 10px 15px;
    background-color: #d3f2ff;
}

.site-footer {
    max-width: 600px;
    margin: 400px auto;
    padding: 10px 25px;
    background-color: #d3f2ff;
    color: #333;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
  }
table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 16px;
    box-shadow: 0 0 10px color(black);
}

caption {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

th {
    background-color: rgb(47, 47, 238);
    color: white;
    padding: 10px;
    text-align: center;
}

td {
    border: 1px solid color( lightgrey);
    padding: 8px;
}
tr{
    text-align: center;
}

tr:nth-child(even) td {
    background-color: white;
}

tr:hover td {
    background-color: grey;
}